[flake8]
max-line-length = 120
max-complexity = 12

exclude = 
    __pycache__,
    .git,
    migrations,
    *.pyc,
    *.pyo,
    *.egg-info,
    build/,
    dist/,
    venv/,
    env/

per-file-ignores =
    __init__.py:F401,F403
    */__init__.py:F401,F403
    tests/__init__.py:F401,F403
    migrations/*.py:F401,F403,E501

select = E,W,F,C
statistics = True
count = True

ignore = E501,W291,E128,F401,F403
